.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  text-align: left;
}

.featureSvg {
  max-width: 90px;
  max-height: 90px;
}

.heroList {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}
