{
  "openapi": "3.0.3",
  "info": {
    "title": "FastNEAR API - Health",
    "version": "3.0.3",
    "description": "Ping the FastNEAR API for liveness — returns `{status: ok}` when healthy."
  },
  "paths": {
    "/health": {
      "get": {
        "description": "Ping the FastNEAR API for liveness — returns `{status: ok}` when healthy.",
        "operationId": "get_health",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "status": "ok"
                },
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            },
            "description": "Health status string"
          },
          "403": {
            "content": {
              "text/plain": {
                "example": "Invalid API key",
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "The supplied API key was not recognized. Omit the key to use public access."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "summary": "Get service health",
        "tags": [
          "system"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Mainnet",
      "url": "https://api.fastnear.com"
    },
    {
      "description": "Testnet",
      "url": "https://test.api.fastnear.com"
    }
  ],
  "security": [
    {},
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "schemas": {
      "HealthResponse": {
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "description": "FastNEAR API key as the `apiKey` query parameter. Handy for curl or clients that cannot set headers, but the key can end up in URLs, logs, and shell history.",
        "in": "query",
        "name": "apiKey",
        "type": "apiKey"
      },
      "BearerAuth": {
        "description": "FastNEAR API key as an `Authorization: Bearer` header. Preferred for backends, workers, and proxies because it keeps the key out of URLs and logs.",
        "scheme": "bearer",
        "type": "http"
      }
    }
  }
}
