{
  "openapi": "3.1.0",
  "info": {
    "title": "NEAR Protocol RPC: Send transaction and wait",
    "description": "Broadcast a base64-encoded `SignedTransaction`; blocks until execution completes or a 10-second timeout elapses. Deprecated — use `send_tx`. Example payloads are placeholders and cannot be replayed.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://rpc.mainnet.fastnear.com",
      "description": "Mainnet"
    },
    {
      "url": "https://rpc.testnet.fastnear.com",
      "description": "Testnet"
    },
    {
      "url": "https://archival-rpc.mainnet.fastnear.com",
      "description": "Mainnet Archival"
    },
    {
      "url": "https://archival-rpc.testnet.fastnear.com",
      "description": "Testnet Archival"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "broadcast_tx_commit",
        "summary": "Send transaction and wait",
        "description": "Broadcast a base64-encoded `SignedTransaction`; blocks until execution completes or a 10-second timeout elapses. Deprecated — use `send_tx`. Example payloads are placeholders and cannot be replayed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ]
                  },
                  "id": {
                    "type": "string",
                    "example": "fastnear"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "broadcast_tx_commit"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "signed_tx_base64": {
                        "type": "string",
                        "description": "Base64-encoded signed transaction"
                      },
                      "wait_until": {
                        "type": "string",
                        "enum": [
                          "NONE",
                          "INCLUDED",
                          "INCLUDED_FINAL",
                          "EXECUTED",
                          "EXECUTED_OPTIMISTIC",
                          "FINAL"
                        ],
                        "description": "Desired level of execution status guarantee",
                        "default": "EXECUTED_OPTIMISTIC"
                      }
                    },
                    "required": [
                      "signed_tx_base64"
                    ]
                  }
                }
              },
              "examples": {
                "mainnet": {
                  "summary": "Mainnet Example",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "fastnear",
                    "method": "broadcast_tx_commit",
                    "params": {
                      "signed_tx_base64": "CQAAAG1pa2UubmVhcgD64cHVt7yB8HSzql1e8RLKSv2riwv7+vNviWHD/y95EgEAAAAAAAAADQAAAG1pa2V0ZXN0Lm5lYXJBM1Y72BJnk/V7dlrTRBxxxUxyB/JXo+hODCyF0woAEAEAAAADAQAAAAAAAAAAAAAAAAAAAADiGG3IJC5QsOBN70h+glB+U9nBYEXObdaPHMjXyu2YQbQUvALIWbdBBxhuR9VQ/fEXg7L0vGSCd9wCCrq0CFIF"
                    }
                  }
                },
                "testnet": {
                  "summary": "Testnet Example",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "fastnear",
                    "method": "broadcast_tx_commit",
                    "params": {
                      "signed_tx_base64": "DAAAAG1pa2UudGVzdG5ldAAnrCNE2/YvBtldmNpxP3k7ego/A6RxrtUvzhp3ngJJTQEAAAAAAAAAEAAAAG1pa2V0ZXN0LnRlc3RuZXTIRL9kr4DAnxTBWcN/e5852wyOE353mPf+XnCN73Z/hwEAAAADAQAAAAAAAAAAAAAAAAAAAADMWuZ8agklUGXpr759mp4DIsPFKgc+ZYFMjR6hjoPrNR9vPxFeLVm8jpLqr6+U9BnlQU7chIfUkeppU1YFvHsO"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                }
              }
            }
          },
          "403": {
            "description": "The supplied API key was not recognized.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Invalid API key"
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {},
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "FastNEAR API key as an `Authorization: Bearer` header. Preferred for backends, workers, and proxies because it keeps the key out of URLs and logs."
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apiKey",
        "description": "FastNEAR API key as the `apiKey` query parameter. Handy for curl or clients that cannot set headers, but the key can end up in URLs, logs, and shell history."
      }
    },
    "schemas": {
      "JsonRpcResponse": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": [
              "2.0"
            ]
          },
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "result": {
            "type": "object",
            "properties": {
              "final_execution_status": {
                "type": "string",
                "enum": [
                  "NONE",
                  "INCLUDED",
                  "INCLUDED_FINAL",
                  "EXECUTED",
                  "EXECUTED_OPTIMISTIC",
                  "FINAL"
                ],
                "description": "Desired level of execution status guarantee"
              },
              "receipts": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Receipts generated from the transaction"
              },
              "receipts_outcome": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "The execution outcome of receipts."
              },
              "status": {
                "type": "object",
                "description": "One of multiple possible types"
              },
              "transaction": {
                "type": "object",
                "description": "Signed Transaction"
              },
              "transaction_outcome": {
                "type": "object",
                "description": "The execution outcome of the signed transaction."
              }
            },
            "required": [
              "final_execution_status"
            ]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "integer"
              },
              "message": {
                "type": "string"
              },
              "data": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  }
}
