openapi: 3.1.0
info:
  title: "NEAR Protocol RPC: Get network info"
  description: List the node's active peer connections and the block producers it currently tracks.
  version: 1.0.0
servers:
  - url: https://rpc.mainnet.fastnear.com
    description: Mainnet
  - url: https://rpc.testnet.fastnear.com
    description: Testnet
  - url: https://archival-rpc.mainnet.fastnear.com
    description: Mainnet Archival
  - url: https://archival-rpc.testnet.fastnear.com
    description: Testnet Archival
paths:
  /:
    post:
      operationId: network_info
      summary: Get network info
      description: List the node's active peer connections and the block producers it currently tracks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - network_info
                params:
                  type: array
                  maxItems: 0
                  description: Empty array as this method takes no parameters
                  example: []
            examples:
              mainnet:
                summary: Mainnet Network Information
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: network_info
                  params: []
              testnet:
                summary: Testnet Network Information
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: network_info
                  params: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
security:
  - {}
  - BearerAuth: []
  - ApiKeyAuth: []
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: "FastNEAR API key as an `Authorization: Bearer` header. Preferred for backends, workers, and proxies because it keeps the key out of URLs and logs."
    ApiKeyAuth:
      type: apiKey
      in: query
      name: apiKey
      description: FastNEAR API key as the `apiKey` query parameter. Handy for curl or clients that cannot set headers, but the key can end up in URLs, logs, and shell history.
  schemas:
    JsonRpcResponse:
      type: object
      required:
        - jsonrpc
        - id
      properties:
        jsonrpc:
          type: string
          enum:
            - "2.0"
        id:
          oneOf:
            - type: string
            - type: number
        result:
          type: object
          properties:
            active_peers:
              type: array
              items:
                type: object
            known_producers:
              type: array
              items:
                type: object
              description: Accounts of known block and chunk producers from routing table.
            num_active_peers:
              type: integer
              format: uint
              minimum: 0
            peer_max_count:
              type: integer
              format: uint32
              minimum: 0
            received_bytes_per_sec:
              type: integer
              format: uint64
              minimum: 0
            sent_bytes_per_sec:
              type: integer
              format: uint64
              minimum: 0
          required:
            - active_peers
            - num_active_peers
            - peer_max_count
            - sent_bytes_per_sec
            - received_bytes_per_sec
            - known_producers
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
            data:
              type: object
