{
  "openapi": "3.0.3",
  "info": {
    "title": "KV FastData API - Latest by Exact Key",
    "version": "3.0.3",
    "description": "Fetch the latest value for one exact key under one predecessor and contract."
  },
  "paths": {
    "/v0/latest/{current_account_id}/{predecessor_id}/{key}": {
      "get": {
        "description": "Fetch the latest value for one exact key under one predecessor and contract.",
        "operationId": "get_latest_key",
        "parameters": [
          {
            "description": "Contract account whose FastData keys were written.",
            "example": "social.near",
            "in": "path",
            "name": "current_account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Calling account that wrote the FastData keys.",
            "example": "james.near",
            "in": "path",
            "name": "predecessor_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Exact FastData key to return.",
            "example": "graph/follow/sleet.near",
            "in": "path",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "entries": [
                    {
                      "action_index": 0,
                      "block_height": 183302718,
                      "block_timestamp": 1769731630602682600,
                      "current_account_id": "social.near",
                      "key": "graph/follow/sleet.near",
                      "predecessor_id": "james.near",
                      "receipt_id": "gaiLdGpaRwaunXUFnnz9VNj8V7cY18ZPAt2QfZazBkk",
                      "signer_id": "james.near",
                      "tx_hash": "FK7qDhHv4otg2wPGrE3DKFjvmmjHhUKBxQDkcAsdH5k3",
                      "value": ""
                    }
                  ],
                  "page_token": "opaque-next-page-token"
                },
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            },
            "description": "Latest rows for the selected predecessor, account, and key"
          },
          "500": {
            "content": {
              "application/json": {
                "example": {
                  "error": "internal server error"
                },
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            },
            "description": "Scylla query failure"
          }
        },
        "summary": "Fetch the latest row for one exact key under one predecessor and contract",
        "tags": [
          "latest"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "Mainnet",
      "url": "https://kv.main.fastnear.com"
    },
    {
      "description": "Testnet",
      "url": "https://kv.test.fastnear.com"
    }
  ],
  "components": {
    "schemas": {
      "ApiError": {
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ],
        "type": "object"
      },
      "KvEntry": {
        "additionalProperties": false,
        "properties": {
          "action_index": {
            "format": "uint32",
            "minimum": 0,
            "nullable": true,
            "type": "integer"
          },
          "block_height": {
            "format": "uint64",
            "minimum": 0,
            "type": "integer"
          },
          "block_timestamp": {
            "format": "uint64",
            "minimum": 0,
            "type": "integer"
          },
          "current_account_id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "predecessor_id": {
            "type": "string"
          },
          "receipt_id": {
            "nullable": true,
            "type": "string"
          },
          "signer_id": {
            "nullable": true,
            "type": "string"
          },
          "tx_hash": {
            "nullable": true,
            "type": "string"
          },
          "value": {
            "description": "Raw JSON value as stored in FastData."
          }
        },
        "required": [
          "predecessor_id",
          "current_account_id",
          "block_height",
          "block_timestamp",
          "key",
          "value"
        ],
        "type": "object"
      },
      "ListResponse": {
        "additionalProperties": false,
        "properties": {
          "entries": {
            "items": {
              "$ref": "#/components/schemas/KvEntry"
            },
            "type": "array"
          },
          "page_token": {
            "description": "Opaque pagination cursor for the next page. Absent when there are no more results.",
            "nullable": true,
            "type": "string"
          }
        },
        "required": [
          "entries"
        ],
        "type": "object"
      }
    }
  }
}
