openapi: 3.1.0
info:
  title: FastNEAR RPC
  description: |-
    NEAR Protocol JSON RPC

    Send your FastNEAR API key as an `Authorization: Bearer` header (preferred) or an `apiKey` query parameter. An unrecognized key is rejected with 403.

    For exhaustive list of endpoints, refer to the [NEAR documentation](https://docs.near.org/api/rpc/transactions).
  version: 1.0.0
servers:
  - url: https://rpc.mainnet.fastnear.com
    description: Mainnet
  - url: https://rpc.testnet.fastnear.com
    description: Testnet
  - url: https://archival-rpc.mainnet.fastnear.com
    description: Mainnet Archival
  - url: https://archival-rpc.testnet.fastnear.com
    description: Testnet Archival
security:
  - {}
  - BearerAuth: []
  - ApiKeyAuth: []
paths:
  /view_account:
    post:
      operationId: view_account
      summary: View account
      description: Fetch an account's balance, storage usage, and code hash at a chosen block or finality.
      x-fastnear-interaction:
        kind: rpc-view-account
      x-hideReplay: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                    request_type:
                      type: string
                      enum:
                        - view_account
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - account_id
                    - finality
            examples:
              mainnet:
                summary: View account (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: root.near
                    request_type: view_account
                    finality: final
              testnet:
                summary: View account (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: root.testnet
                    request_type: view_account
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_view_account"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /view_access_key:
    post:
      operationId: view_access_key
      summary: View access key
      description: "Fetch one access key's permissions and nonce by public key on a given account. Pass the full public key with its type prefix. For an ML-DSA-65 key that is the full ml-dsa-65: key, not the ml-dsa-65-hash: handle that view_access_key_list reports; the handle is rejected with a parse error (unknown key type)."
      x-fastnear-interaction:
        kind: rpc-view-access-key
      x-hideReplay: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                    public_key:
                      type: string
                      description: "Public key with its type prefix: ed25519:, secp256k1:, or the full ml-dsa-65: key (never the ml-dsa-65-hash: handle)."
                    request_type:
                      type: string
                      enum:
                        - view_access_key
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - account_id
                    - public_key
                    - finality
            examples:
              mainnet:
                summary: View access key (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: root.near
                    public_key: ed25519:6666666666666666666666666666666666666666666
                    request_type: view_access_key
                    finality: final
              testnet:
                summary: View access key (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: root.testnet
                    public_key: ed25519:Bt6gx87fRm99KkkN1Q9UEA8vY9DBLkRSntqcLDuZt3S
                    request_type: view_access_key
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_view_access_key"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /view_access_key_list:
    post:
      operationId: view_access_key_list
      summary: View access key list
      description: "Fetch every access key attached to an account, each with its permissions and nonce. ML-DSA-65 keys are listed by their ml-dsa-65-hash: handle; to query one with view_access_key, or to reference it in an action, use the full ml-dsa-65: public key instead."
      x-fastnear-interaction:
        kind: rpc-view-access-key-list
      x-hideReplay: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                    request_type:
                      type: string
                      enum:
                        - view_access_key_list
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - account_id
                    - finality
            examples:
              mainnet:
                summary: View access key list (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: root.near
                    request_type: view_access_key_list
                    finality: final
              testnet:
                summary: View access key list (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: root.testnet
                    request_type: view_access_key_list
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_view_access_key_list"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /block_by_height:
    post:
      operationId: block_by_height
      summary: Get block by height
      description: Fetch a block's header and chunk summaries by its height in the chain.
      x-fastnear-interaction:
        kind: rpc-block-by-height
      x-hideReplay: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - block
                params:
                  type: object
                  required:
                    - block_id
                  properties:
                    block_id:
                      type: integer
                      description: Block height to query
            examples:
              mainnet:
                summary: Get block by height (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block
                  params:
                    block_id: 9820210
              testnet:
                summary: Get block by height (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block
                  params:
                    block_id: 245254793
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_block_by_height"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /block_by_id:
    post:
      operationId: block_by_id
      summary: Get block by hash
      description: Fetch a block's header and chunk summaries by its Base58-encoded SHA-256 hash.
      x-fastnear-interaction:
        kind: rpc-block-by-id
      x-hideReplay: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - block
                params:
                  type: object
                  required:
                    - block_id
                  properties:
                    block_id:
                      type: string
                      description: Base58-encoded block hash
            examples:
              mainnet:
                summary: Get block by hash (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block
                  params:
                    block_id: EPnLgE7iEq9s7yTkos96M3cWymH5avBAPm3qx3NXqR8H
              testnet:
                summary: Get block by hash (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block
                  params:
                    block_id: CoPszhGFqcx9L1HQYM62g3UjxMpuZD8RiZL6QdpBZXA4
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_block_by_id"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /block_effects:
    post:
      operationId: block_effects
      summary: Get block effects
      description: Summarize every state change in a block — which accounts, keys, and contract-state entries were touched.
      x-fastnear-interaction:
        kind: rpc-block-effects
      x-hideReplay: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - block_effects
                params:
                  type: object
                  properties:
                    block_id:
                      oneOf:
                        - type: integer
                          description: Block height
                        - type: string
                          description: Base58-encoded block hash
                      description: Block height (integer) or block hash (string)
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
            examples:
              mainnet:
                summary: Get block effects (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block_effects
                  params:
                    finality: final
              testnet:
                summary: Get block effects (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block_effects
                  params:
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_block_effects"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /call_function:
    post:
      operationId: call_function
      summary: Call contract function
      description: Invoke a contract view method without gas or state changes — reads computed values from contract logic.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                    args_base64:
                      type: string
                      description: Base64-encoded argument byte array passed to the method. JSON contracts expect the UTF-8 bytes of the JSON payload (`e30=` decodes to `{}`).
                    method_name:
                      type: string
                      description: Name of the contract view method to invoke.
                    request_type:
                      type: string
                      enum:
                        - call_function
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - account_id
                    - method_name
                    - args_base64
                    - finality
            examples:
              mainnet:
                summary: Call Mainnet Contract Function
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    request_type: call_function
                    finality: final
                    account_id: contract.near
                    method_name: get_info
                    args_base64: e30=
              testnet:
                summary: Call Testnet Contract Function
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    request_type: call_function
                    finality: final
                    account_id: contract.testnet
                    method_name: get_info
                    args_base64: e30=
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_call_function"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /view_state:
    post:
      operationId: view_state
      summary: View contract state
      description: Fetch the raw key-value state a contract has written, optionally filtered by key prefix.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                    after_key_base64:
                      type:
                        - string
                        - "null"
                      description: "Exclusive start cursor: returns only keys greater than this one. Set to the prior response's `last_key` to page forward; omit to scan from the start of the prefix range."
                    include_proof:
                      type: boolean
                      description: Include a Merkle proof for the queried state alongside the values.
                    limit:
                      type:
                        - integer
                        - "null"
                      format: uint32
                      minimum: 1
                      description: Maximum key/value entries per response (≥ 1). Omit for no client-set bound (subject to node limits).
                    prefix_base64:
                      type: string
                      description: Base64-encoded key prefix; returns only trie entries whose key begins with these bytes. Empty string (`""`) removes the filter and returns the entire contract state — expensive on large contracts.
                    request_type:
                      type: string
                      enum:
                        - view_state
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - account_id
                    - prefix_base64
                    - finality
            examples:
              mainnet:
                summary: View Mainnet Contract State
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    request_type: view_state
                    finality: final
                    account_id: lockup.near
                    prefix_base64: U1RBVEU=
              testnet:
                summary: View Testnet Contract State
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    request_type: view_state
                    finality: final
                    account_id: counter.testnet
                    prefix_base64: ""
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_view_state"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /view_code:
    post:
      operationId: view_code
      summary: View contract code
      description: Fetch the compiled WebAssembly bytes deployed directly to a single account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                    request_type:
                      type: string
                      enum:
                        - view_code
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - account_id
                    - finality
            examples:
              mainnet:
                summary: View contract code (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: intents.near
                    request_type: view_code
                    finality: final
              testnet:
                summary: View contract code (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: guest-book.testnet
                    request_type: view_code
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_view_code"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /view_global_contract_code:
    post:
      operationId: view_global_contract_code
      summary: View global contract code
      description: Look up a global contract's WebAssembly bytes by its Base58-encoded SHA-256 code hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    code_hash:
                      type: string
                      description: Base58-encoded hash
                    request_type:
                      type: string
                      enum:
                        - view_global_contract_code
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - code_hash
                    - finality
            examples:
              mainnet:
                summary: View global contract code (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    code_hash: A2VxywASqbnarBAfTWobhDZjMXobjnYyJmkjhoXAiYBz
                    request_type: view_global_contract_code
                    finality: final
              testnet:
                summary: View global contract code (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    code_hash: 3vaopJ7aRoivvzZLngPQRBEd8VJr2zPLTxQfnRCoFgNX
                    request_type: view_global_contract_code
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_view_global_contract_code"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /view_global_contract_code_by_account_id:
    post:
      operationId: view_global_contract_code_by_account_id
      summary: View global contract code by account
      description: Look up a global contract's WebAssembly bytes by the account that registered it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - query
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                    request_type:
                      type: string
                      enum:
                        - view_global_contract_code_by_account_id
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Block finality
                  required:
                    - request_type
                    - account_id
                    - finality
            examples:
              mainnet:
                summary: View global contract code by account (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: global-contract.nfts.tg
                    request_type: view_global_contract_code_by_account_id
                    finality: final
              testnet:
                summary: View global contract code by account (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: query
                  params:
                    account_id: ft.globals.primitives.testnet
                    request_type: view_global_contract_code_by_account_id
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_view_global_contract_code_by_account_id"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /chunk_by_hash:
    post:
      operationId: chunk_by_hash
      summary: Get chunk by hash
      description: Fetch a single chunk's transactions and receipts by its Base58 content hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - chunk
                params:
                  type: object
                  required:
                    - chunk_id
                  properties:
                    chunk_id:
                      type: string
                      description: Base58-encoded chunk hash
            examples:
              mainnet:
                summary: Mainnet Chunk Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: chunk
                  params:
                    chunk_id: 349Wr5HMm2Bvyy8GuhExAZ4F353tXCChx1FfAsYnQTAn
              testnet:
                summary: Testnet Chunk Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: chunk
                  params:
                    chunk_id: FU9wVPLRwa34SSwA9KP83QLSni2bqXgqVijaejnqX4iv
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_chunk_by_hash"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /chunk_by_block_shard:
    post:
      operationId: chunk_by_block_shard
      summary: Get chunk by block and shard
      description: Fetch a single chunk's transactions and receipts by its parent block plus shard index.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - chunk
                params:
                  type: object
                  required:
                    - block_id
                    - shard_id
                  properties:
                    block_id:
                      oneOf:
                        - type: integer
                          description: Block height
                        - type: string
                          description: Base58-encoded block hash
                      description: Block height (integer) or block hash (string)
                    shard_id:
                      type: integer
                      description: Shard identifier
            examples:
              mainnet:
                summary: Mainnet Block/Shard Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: chunk
                  params:
                    block_id: 9XN7MtDywZvfGx6TKy1MT2iCZkKuHikJXmNazxdZ4x6T
                    shard_id: 10
              testnet:
                summary: Testnet Block/Shard Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: chunk
                  params:
                    block_id: 6JYj6i1FaUCzdoqy41CqUcZJxa5n9EmLEENRDH2gLm5u
                    shard_id: 10
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_chunk_by_block_shard"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /gas_price:
    post:
      operationId: gas_price
      summary: Get gas price
      description: Fetch the current chain-wide gas price for the most recent block.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - gas_price
                params:
                  type: array
                  items:
                    type: "null"
                  example:
                    - null
            examples:
              mainnet:
                summary: Get current gas price (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: gas_price
                  params:
                    - null
              testnet:
                summary: Get current gas price (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: gas_price
                  params:
                    - null
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_gas_price"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /gas_price_by_block:
    post:
      operationId: gas_price_by_block
      summary: Get gas price by block
      description: Fetch the chain-wide gas price at a chosen historical block, by height or hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - gas_price
                params:
                  type: object
                  required:
                    - block_id
                  properties:
                    block_id:
                      oneOf:
                        - type: integer
                          description: Block height
                        - type: string
                          description: Base58-encoded block hash
                      description: Block height (integer) or block hash (string)
            examples:
              mainnet:
                summary: Get gas price by block (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: gas_price
                  params:
                    block_id: 9XN7MtDywZvfGx6TKy1MT2iCZkKuHikJXmNazxdZ4x6T
              testnet:
                summary: Get gas price by block (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: gas_price
                  params:
                    block_id: 6JYj6i1FaUCzdoqy41CqUcZJxa5n9EmLEENRDH2gLm5u
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_gas_price_by_block"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /health:
    post:
      operationId: health
      summary: Check node health
      description: Ping a node for liveness — returns `null` on success, an error on unhealthy state.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - health
                params:
                  type: array
                  maxItems: 0
                  description: Empty array as this method takes no parameters
                  example: []
            examples:
              mainnet:
                summary: Mainnet Node Health
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: health
                  params: []
              testnet:
                summary: Testnet Node Health
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: health
                  params: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_health"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /latest_block:
    post:
      operationId: latest_block
      summary: Get latest block
      description: Fetch the latest final block — finality set automatically, no block ID needed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - block
                params:
                  type: object
                  required:
                    - finality
                  properties:
                    finality:
                      type: string
                      enum:
                        - final
                        - near-final
                        - optimistic
                      description: Finality selector for the latest visible block
            examples:
              mainnet:
                summary: Mainnet Latest Block
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block
                  params:
                    finality: optimistic
              testnet:
                summary: Testnet Latest Block
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: block
                  params:
                    finality: optimistic
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_latest_block"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /light_client_proof:
    post:
      operationId: light_client_proof
      summary: Get light client proof
      description: Fetch a Merkle proof — by Base58 transaction or receipt ID — that the item was included and executed, suitable for light-client verification.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - light_client_proof
                params:
                  type: object
                  properties:
                    light_client_head:
                      type: string
                      description: Base58-encoded hash
                    sender_id:
                      type: string
                      description: NEAR account ID
                    transaction_hash:
                      type: string
                      description: Base58-encoded hash
                    type:
                      type: string
                      enum:
                        - transaction
                        - receipt
                      description: Proof subject — `transaction` proves inclusion of the top-level transaction, `receipt` proves inclusion of a specific receipt produced during execution.
                    receipt_id:
                      type: string
                      description: Base58-encoded hash
                    receiver_id:
                      type: string
                      description: NEAR account ID
                  required:
                    - light_client_head
            examples:
              mainnet:
                summary: Mainnet Light Client Proof
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: light_client_proof
                  params:
                    type: transaction
                    transaction_hash: 34E7weKCDqXh3xPKdBgSWRqo44yTWjbka9deMK8JbAxx
                    sender_id: escrow.ai.near
                    light_client_head: 9XN7MtDywZvfGx6TKy1MT2iCZkKuHikJXmNazxdZ4x6T
              testnet:
                summary: Testnet Light Client Proof
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: light_client_proof
                  params:
                    type: transaction
                    transaction_hash: 9LPbkwJ26HYgda7KHrURc6jozBcpdA1kUMSEzwm81JPx
                    sender_id: near-mpc-staking4all-01.testnet
                    light_client_head: 6JYj6i1FaUCzdoqy41CqUcZJxa5n9EmLEENRDH2gLm5u
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_light_client_proof"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /metrics:
    get:
      operationId: metrics
      summary: Get node metrics
      description: Retrieves Prometheus-format node metrics from the HTTP `/metrics` endpoint. Requires an API key.
      responses:
        "200":
          description: Successful response
          content:
            text/plain:
              schema:
                type: string
                description: Prometheus exposition text
                example: |-
                  # HELP process_cpu_seconds_total Total user and system CPU time spent in seconds.
                  # TYPE process_cpu_seconds_total counter
                  process_cpu_seconds_total 12.34
        "403":
          description: Missing or invalid API key
          content:
            text/plain:
              schema:
                type: string
                example: Forbidden
  /network_info:
    post:
      operationId: network_info
      summary: Get network info
      description: List the node's active peer connections and the block producers it currently tracks.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - network_info
                params:
                  type: array
                  maxItems: 0
                  description: Empty array as this method takes no parameters
                  example: []
            examples:
              mainnet:
                summary: Mainnet Network Information
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: network_info
                  params: []
              testnet:
                summary: Testnet Network Information
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: network_info
                  params: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_network_info"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /status:
    post:
      operationId: status
      summary: Get node status
      description: Fetch a node's binary version, sync progress, and head block in one snapshot.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - status
                params:
                  type: array
                  maxItems: 0
                  description: Empty array as this method takes no parameters
                  example: []
            examples:
              mainnet:
                summary: Mainnet Node Status
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: status
                  params: []
              testnet:
                summary: Testnet Node Status
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: status
                  params: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_status"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /genesis_config:
    post:
      operationId: genesis_config
      summary: Get genesis config
      description: Fetch the chain's immutable genesis config — initial records, protocol settings, and epoch length at block 0.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - genesis_config
                params:
                  type: array
                  maxItems: 0
                  description: Empty array as this method takes no parameters
                  example: []
            examples:
              mainnet:
                summary: Get genesis config (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: genesis_config
                  params: []
              testnet:
                summary: Get genesis config (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: genesis_config
                  params: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_genesis_config"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /client_config:
    post:
      operationId: client_config
      summary: Get client config
      description: Fetch the node's own local client config — timeouts, retry settings, and operator-chosen parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - client_config
                params:
                  type: array
                  maxItems: 0
                  description: Empty array as this method takes no parameters
                  example: []
            examples:
              mainnet:
                summary: Get client config (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: client_config
                  params: []
              testnet:
                summary: Get client config (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: client_config
                  params: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_client_config"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /changes:
    post:
      operationId: changes
      summary: Get state changes
      description: Fetch detailed state changes in a block — filter by account, key prefix, or change type.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - changes
                params:
                  type: object
                  description: One of multiple possible types
            examples:
              mainnet:
                summary: Get state changes (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: changes
                  params:
                    finality: final
                    changes_type: account_changes
                    account_ids:
                      - root.near
              testnet:
                summary: Get state changes (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: changes
                  params:
                    finality: final
                    changes_type: account_changes
                    account_ids:
                      - root.testnet
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_changes"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /maintenance_windows:
    post:
      operationId: maintenance_windows
      summary: Get maintenance windows
      description: Find upcoming block ranges where a validator can safely restart without missing block production.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - maintenance_windows
                params:
                  type: object
                  properties:
                    account_id:
                      type: string
                      description: NEAR account ID
                  required:
                    - account_id
            examples:
              mainnet:
                summary: Get maintenance windows (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: maintenance_windows
                  params:
                    account_id: root.near
              testnet:
                summary: Get maintenance windows (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: maintenance_windows
                  params:
                    account_id: root.testnet
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_maintenance_windows"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /next_light_client_block:
    post:
      operationId: next_light_client_block
      summary: Get next light client block
      description: Advance a light client's verified chain by fetching the next block header after a known Base58 head hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - next_light_client_block
                params:
                  type: object
                  properties:
                    last_block_hash:
                      type: string
                      description: Base58-encoded hash
                  required:
                    - last_block_hash
            examples:
              mainnet:
                summary: Get next light client block (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: next_light_client_block
                  params:
                    last_block_hash: 9XN7MtDywZvfGx6TKy1MT2iCZkKuHikJXmNazxdZ4x6T
              testnet:
                summary: Get next light client block (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: next_light_client_block
                  params:
                    last_block_hash: 6JYj6i1FaUCzdoqy41CqUcZJxa5n9EmLEENRDH2gLm5u
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_next_light_client_block"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_protocol_config:
    post:
      operationId: EXPERIMENTAL_protocol_config
      summary: Get protocol config
      description: Fetch the runtime protocol config at a chosen block — gas costs, storage prices, and limits currently in force.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_protocol_config
                params:
                  type: object
                  description: One of multiple possible types
            examples:
              mainnet:
                summary: Get protocol config (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_protocol_config
                  params:
                    finality: final
              testnet:
                summary: Get protocol config (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_protocol_config
                  params:
                    finality: final
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_protocol_config"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_congestion_level:
    post:
      operationId: EXPERIMENTAL_congestion_level
      summary: Get congestion level
      description: Measure a single shard's congestion pressure at a chosen block — a 0.0-to-1.0 saturation score.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_congestion_level
                params:
                  type:
                    - object
                    - "null"
                  properties:
                    block_id:
                      oneOf:
                        - type: integer
                          description: Block height
                        - type: string
                          description: Base58-encoded block hash
                      description: Block height (integer) or block hash (string)
                    shard_id:
                      type: integer
                      description: Shard identifier
                  required:
                    - block_id
                    - shard_id
            examples:
              mainnet:
                summary: Get congestion level (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_congestion_level
                  params:
                    block_id: 9XN7MtDywZvfGx6TKy1MT2iCZkKuHikJXmNazxdZ4x6T
                    shard_id: 10
              testnet:
                summary: Get congestion level (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_congestion_level
                  params:
                    block_id: 6JYj6i1FaUCzdoqy41CqUcZJxa5n9EmLEENRDH2gLm5u
                    shard_id: 10
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_congestion_level"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_light_client_block_proof:
    post:
      operationId: EXPERIMENTAL_light_client_block_proof
      summary: Get light client block proof
      description: Fetch a Merkle proof — by Base58 block and light-client-head hashes — that the block is included in the light client's verified chain.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_light_client_block_proof
                params:
                  type: object
                  properties:
                    block_hash:
                      type: string
                      description: Base58-encoded hash
                    light_client_head:
                      type: string
                      description: Base58-encoded hash
                  required:
                    - block_hash
                    - light_client_head
            examples:
              mainnet:
                summary: Get light client block proof (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_light_client_block_proof
                  params:
                    block_hash: 64utzv4G8AwNSxVnj23KPwU46VL435jQbQokbaYFtZ6V
                    light_client_head: 9XN7MtDywZvfGx6TKy1MT2iCZkKuHikJXmNazxdZ4x6T
              testnet:
                summary: Get light client block proof (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_light_client_block_proof
                  params:
                    block_hash: GTnMamkzwhsTdaZ48g7BvFALJ4ECZYJZA9aagejnAinp
                    light_client_head: 6JYj6i1FaUCzdoqy41CqUcZJxa5n9EmLEENRDH2gLm5u
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_light_client_block_proof"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_split_storage_info:
    post:
      operationId: EXPERIMENTAL_split_storage_info
      summary: Get split storage info
      description: Inspect a node's split-storage layout — the boundary between hot recent data and cold archival data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_split_storage_info
                params:
                  type: array
                  maxItems: 0
                  description: Empty array as this method takes no parameters
                  example: []
            examples:
              mainnet:
                summary: Get split storage info (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_split_storage_info
                  params: []
              testnet:
                summary: Get split storage info (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_split_storage_info
                  params: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_split_storage_info"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_light_client_proof:
    post:
      operationId: EXPERIMENTAL_light_client_proof
      summary: Get light client execution proof
      description: Fetch a Merkle proof of transaction or receipt inclusion by Base58 ID — the EXPERIMENTAL alias of `light_client_proof`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_light_client_proof
                params:
                  type: object
                  properties:
                    light_client_head:
                      type: string
                      description: Base58-encoded hash
                    sender_id:
                      type: string
                      description: NEAR account ID
                    transaction_hash:
                      type: string
                      description: Base58-encoded hash
                    type:
                      type: string
                      enum:
                        - transaction
                        - receipt
                      description: Proof subject — `transaction` proves inclusion of the top-level transaction, `receipt` proves inclusion of a specific receipt produced during execution.
                    receipt_id:
                      type: string
                      description: Base58-encoded hash
                    receiver_id:
                      type: string
                      description: NEAR account ID
                  required:
                    - light_client_head
            examples:
              mainnet:
                summary: Get light client execution proof (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_light_client_proof
                  params:
                    light_client_head: 9XN7MtDywZvfGx6TKy1MT2iCZkKuHikJXmNazxdZ4x6T
                    sender_id: escrow.ai.near
                    transaction_hash: 34E7weKCDqXh3xPKdBgSWRqo44yTWjbka9deMK8JbAxx
                    type: transaction
              testnet:
                summary: Get light client execution proof (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_light_client_proof
                  params:
                    light_client_head: 6JYj6i1FaUCzdoqy41CqUcZJxa5n9EmLEENRDH2gLm5u
                    sender_id: near-mpc-staking4all-01.testnet
                    transaction_hash: 9LPbkwJ26HYgda7KHrURc6jozBcpdA1kUMSEzwm81JPx
                    type: transaction
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_light_client_proof"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /broadcast_tx_async:
    post:
      operationId: broadcast_tx_async
      summary: Send transaction asynchronously
      description: Broadcast a base64-encoded `SignedTransaction`; returns the transaction hash without awaiting inclusion or execution. Example payloads are placeholders and cannot be replayed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - broadcast_tx_async
                params:
                  type: object
                  properties:
                    signed_tx_base64:
                      type: string
                      description: Base64-encoded signed transaction
                    wait_until:
                      type: string
                      enum:
                        - NONE
                        - INCLUDED
                        - INCLUDED_FINAL
                        - EXECUTED
                        - EXECUTED_OPTIMISTIC
                        - FINAL
                      description: Desired level of execution status guarantee
                      default: EXECUTED_OPTIMISTIC
                  required:
                    - signed_tx_base64
            examples:
              mainnet:
                summary: Mainnet Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: broadcast_tx_async
                  params:
                    signed_tx_base64: CQAAAG1pa2UubmVhcgCCy5RvHN/3t5Oejtf0aWKCCwJIxXkWWCQKxnaU9nr4nAEAAAAAAAAADQAAAG1pa2V0ZXN0Lm5lYXL6UXoKlIC/UXiHRkiBCYVW69w6N/+7ZXy0+gPAs9TQ5wEAAAADAQAAAAAAAAAAAAAAAAAAAABv/f+CgT7byEQUzraUd1LDQ7ELv5ld7bhFGUYNaxWWRMzl5rAuRhcfkV2jHIqJgu0sfw7B9/npIH69aqsm/GIM
              testnet:
                summary: Testnet Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: broadcast_tx_async
                  params:
                    signed_tx_base64: DAAAAG1pa2UudGVzdG5ldAD7f6gOSLbFPadEDmehA6rmcy+EOXYRGly1GK0ponIwDgEAAAAAAAAAEAAAAG1pa2V0ZXN0LnRlc3RuZXTmqC62j/JHfs1+RJFA5+kaPJY8rDAfhHuh2G548XJ6GQEAAAADAQAAAAAAAAAAAAAAAAAAAADq6qRsj8FW73GukqS5yqwXYL7riy7EcIaZrhZy40hMq4Kux+lp+AsMLtVPqic5xAfX5dlLaFRJ6Nbi2Th185UI
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_broadcast_tx_async"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /broadcast_tx_commit:
    post:
      operationId: broadcast_tx_commit
      summary: Send transaction and wait
      description: Broadcast a base64-encoded `SignedTransaction`; blocks until execution completes or a 10-second timeout elapses. Deprecated — use `send_tx`. Example payloads are placeholders and cannot be replayed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - broadcast_tx_commit
                params:
                  type: object
                  properties:
                    signed_tx_base64:
                      type: string
                      description: Base64-encoded signed transaction
                    wait_until:
                      type: string
                      enum:
                        - NONE
                        - INCLUDED
                        - INCLUDED_FINAL
                        - EXECUTED
                        - EXECUTED_OPTIMISTIC
                        - FINAL
                      description: Desired level of execution status guarantee
                      default: EXECUTED_OPTIMISTIC
                  required:
                    - signed_tx_base64
            examples:
              mainnet:
                summary: Mainnet Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: broadcast_tx_commit
                  params:
                    signed_tx_base64: CQAAAG1pa2UubmVhcgD64cHVt7yB8HSzql1e8RLKSv2riwv7+vNviWHD/y95EgEAAAAAAAAADQAAAG1pa2V0ZXN0Lm5lYXJBM1Y72BJnk/V7dlrTRBxxxUxyB/JXo+hODCyF0woAEAEAAAADAQAAAAAAAAAAAAAAAAAAAADiGG3IJC5QsOBN70h+glB+U9nBYEXObdaPHMjXyu2YQbQUvALIWbdBBxhuR9VQ/fEXg7L0vGSCd9wCCrq0CFIF
              testnet:
                summary: Testnet Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: broadcast_tx_commit
                  params:
                    signed_tx_base64: DAAAAG1pa2UudGVzdG5ldAAnrCNE2/YvBtldmNpxP3k7ego/A6RxrtUvzhp3ngJJTQEAAAAAAAAAEAAAAG1pa2V0ZXN0LnRlc3RuZXTIRL9kr4DAnxTBWcN/e5852wyOE353mPf+XnCN73Z/hwEAAAADAQAAAAAAAAAAAAAAAAAAAADMWuZ8agklUGXpr759mp4DIsPFKgc+ZYFMjR6hjoPrNR9vPxFeLVm8jpLqr6+U9BnlQU7chIfUkeppU1YFvHsO
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_broadcast_tx_commit"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /tx_status:
    post:
      operationId: tx_status
      summary: Get transaction status
      description: Check a transaction's final outcome by Base58 hash — succeeded, failed, or still unresolved.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - tx
                params:
                  type: object
                  properties:
                    wait_until:
                      type: string
                      enum:
                        - NONE
                        - INCLUDED
                        - INCLUDED_FINAL
                        - EXECUTED
                        - EXECUTED_OPTIMISTIC
                        - FINAL
                      description: Desired level of execution status guarantee
                      default: EXECUTED_OPTIMISTIC
                    signed_tx_base64:
                      type: string
                      description: Base64-encoded Borsh serialization of a `SignedTransaction`; must be freshly signed (nonce above the access key's current value).
                    sender_account_id:
                      type: string
                      description: NEAR account ID
                    tx_hash:
                      type: string
                      description: Base58-encoded hash
            examples:
              mainnet:
                summary: Mainnet Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: tx
                  params:
                    tx_hash: 34E7weKCDqXh3xPKdBgSWRqo44yTWjbka9deMK8JbAxx
                    sender_account_id: escrow.ai.near
              testnet:
                summary: Testnet Example
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: tx
                  params:
                    tx_hash: 9LPbkwJ26HYgda7KHrURc6jozBcpdA1kUMSEzwm81JPx
                    sender_account_id: near-mpc-staking4all-01.testnet
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_tx_status"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /send_tx:
    post:
      operationId: send_tx
      summary: Send transaction
      description: Broadcast a base64-encoded `SignedTransaction`; blocks until the execution outcome specified by `wait_until`. Example payloads are placeholders and cannot be replayed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - send_tx
                params:
                  type: object
                  properties:
                    signed_tx_base64:
                      type: string
                      description: Base64-encoded signed transaction
                    wait_until:
                      type: string
                      enum:
                        - NONE
                        - INCLUDED
                        - INCLUDED_FINAL
                        - EXECUTED
                        - EXECUTED_OPTIMISTIC
                        - FINAL
                      description: Desired level of execution status guarantee
                      default: EXECUTED_OPTIMISTIC
                  required:
                    - signed_tx_base64
            examples:
              mainnet:
                summary: Send transaction (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: send_tx
                  params:
                    signed_tx_base64: CQAAAG1pa2UubmVhcgBPiSiO5F7KYuZ9VQ2eF6/b9dXqrBUBxDs2AuXiQZw8DgEAAAAAAAAADQAAAG1pa2V0ZXN0Lm5lYXKwzpn8eLLqwzoVC5PlcvpzSXj65ke9WN3TLsRpndusbgEAAAADAQAAAAAAAAAAAAAAAAAAAAC7RkXLWjBx/qplpt/RT2uwQWvrovT3+6ef0BG1LU5OahlAsFmjEsuOv8rg4JI8TXOkg16oXljReiM4KU41yHYM
                    wait_until: EXECUTED_OPTIMISTIC
              testnet:
                summary: Send transaction (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: send_tx
                  params:
                    signed_tx_base64: DAAAAG1pa2UudGVzdG5ldABpWDhNQVV7BkV62S5Hbdm5jBNjKhV1eGJAHSwC6iwNqgEAAAAAAAAAEAAAAG1pa2V0ZXN0LnRlc3RuZXQlxP80whXgLsNL4raSbYLM3YKFSTxZTp6FZcg8ExwGpwEAAAADAQAAAAAAAAAAAAAAAAAAAADLrZ/qNwNTZoXF4ALlKxLeC0nfTZol2HyyY0XoChnSNATaQ27bP5HM90mAhgq4OI7Zo+k3GQ1CxC3bGUqbhMcD
                    wait_until: EXECUTED_OPTIMISTIC
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_send_tx"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_tx_status:
    post:
      operationId: EXPERIMENTAL_tx_status
      summary: Get detailed transaction status
      description: Fetch a transaction's full receipt tree and per-receipt outcomes by Base58 hash — richer than `tx_status`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_tx_status
                params:
                  type: object
                  properties:
                    wait_until:
                      type: string
                      enum:
                        - NONE
                        - INCLUDED
                        - INCLUDED_FINAL
                        - EXECUTED
                        - EXECUTED_OPTIMISTIC
                        - FINAL
                      description: Desired level of execution status guarantee
                      default: EXECUTED_OPTIMISTIC
                    signed_tx_base64:
                      type: string
                      description: Base64-encoded Borsh serialization of a `SignedTransaction`; must be freshly signed (nonce above the access key's current value).
                    sender_account_id:
                      type: string
                      description: NEAR account ID
                    tx_hash:
                      type: string
                      description: Base58-encoded hash
            examples:
              mainnet:
                summary: Get detailed transaction status (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_tx_status
                  params:
                    wait_until: EXECUTED_OPTIMISTIC
                    sender_account_id: escrow.ai.near
                    tx_hash: 34E7weKCDqXh3xPKdBgSWRqo44yTWjbka9deMK8JbAxx
              testnet:
                summary: Get detailed transaction status (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_tx_status
                  params:
                    wait_until: EXECUTED_OPTIMISTIC
                    sender_account_id: near-mpc-staking4all-01.testnet
                    tx_hash: 9LPbkwJ26HYgda7KHrURc6jozBcpdA1kUMSEzwm81JPx
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_tx_status"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_receipt:
    post:
      operationId: EXPERIMENTAL_receipt
      summary: Get receipt by ID
      description: Fetch a single receipt by Base58 ID — the cross-shard execution unit a transaction produces.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_receipt
                params:
                  type: object
                  properties:
                    receipt_id:
                      type: string
                      description: Base58-encoded hash
                  required:
                    - receipt_id
            examples:
              mainnet:
                summary: Get receipt by ID (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_receipt
                  params:
                    receipt_id: ETMK9HmPsAYcNxfSXBejMWQs57W4Ph5HDYoYhDMpotQn
              testnet:
                summary: Get receipt by ID (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_receipt
                  params:
                    receipt_id: 9uJmhNCLRgsFncH3anffPLE1YsZCPTyAZrBdekc3vTaZ
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_receipt"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /EXPERIMENTAL_receipt_to_tx:
    post:
      operationId: EXPERIMENTAL_receipt_to_tx
      summary: Resolve receipt to transaction
      description: Resolve a receipt ID to the transaction hash and signer that produced it. Requires a node with `save_receipt_to_tx` enabled; unindexed receipts return `UNKNOWN_RECEIPT`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - EXPERIMENTAL_receipt_to_tx
                params:
                  type: object
                  properties:
                    block_height:
                      type:
                        - integer
                        - "null"
                      description: "Optional hint: block height near where the receipt was created, to bound the fallback scan."
                      format: uint64
                      minimum: 0
                    receipt_id:
                      type: string
                      description: Base58-encoded receipt ID to resolve to its originating transaction.
                    shard_id:
                      type:
                        - integer
                        - "null"
                      description: "Optional hint: shard to scan at the hint height; omit to scan all tracked shards."
                    window:
                      type:
                        - integer
                        - "null"
                      description: "Optional hint: ± block-height window scanned around the hint before walking ancestor blocks."
                      format: uint64
                      minimum: 0
                  required:
                    - receipt_id
            examples:
              mainnet:
                summary: Resolve receipt to transaction (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_receipt_to_tx
                  params:
                    receipt_id: ETMK9HmPsAYcNxfSXBejMWQs57W4Ph5HDYoYhDMpotQn
                    block_height: 194263442
              testnet:
                summary: Resolve receipt to transaction (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: EXPERIMENTAL_receipt_to_tx
                  params:
                    receipt_id: 9uJmhNCLRgsFncH3anffPLE1YsZCPTyAZrBdekc3vTaZ
                    block_height: 246016180
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_EXPERIMENTAL_receipt_to_tx"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /validators_current:
    post:
      operationId: validators_current
      summary: Get current validators
      description: Fetch the active validator set for the current epoch, with stakes and performance stats.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
                - method
                - params
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                  example: fastnear
                method:
                  type: string
                  enum:
                    - validators
                params:
                  type: array
                  items:
                    type: "null"
                  maxItems: 1
                  minItems: 1
                  example:
                    - null
            examples:
              mainnet:
                summary: Get current validators (Mainnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: validators
                  params:
                    - null
              testnet:
                summary: Get current validators (Testnet)
                value:
                  jsonrpc: "2.0"
                  id: fastnear
                  method: validators
                  params:
                    - null
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonRpcResponse_validators_current"
        "403":
          description: The supplied API key was not recognized.
          content:
            text/plain:
              schema:
                type: string
              example: Invalid API key
  /validators_by_epoch:
    post:
      operationId: validators_by_epoch
      summary: Get validators by epoch
      description: Fetch the validator set for a chosen past epoch, selected by epoch-start block height or Base58 epoch-id hash.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - id
[...]
